
.jumboTron{
    /* background-color: #FF9843; */
    /* height: 95vh; */
    /* background-image: ; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 90vh;
    /* background-repeat: no-repeat; */

}

